<div class="row dash-row">
    <div class="col-xl-12">

        <div class="card spur-card">
            <div class="card-header">
                <div class="spur-card-icon">
                    <i class="fas fa-table"></i>
                </div>
                <div class="spur-card-title">Stats by Country</div>
            </div>
            <div class="card-body">
                <table class="table table-in-card">
                    <thead>
                        <tr>
                            <th scope="col"><a class="col-name" href="#"></a></th>
                            <th scope="col"><a class="col-population" href="#">population</a></th>
                            <th scope="col"><a class="col-cases" href="#">cases (c)</a></th>
                            <th scope="col"><a class="col-deaths" href="#">deaths (d)</a></th>
                            <th scope="col"><a class="col-ratio1" href="#">d / case</a></th> 
                            <th scope="col"><a class="col-ratio2" href="#">d / million</a></th>
                            <th scope="col"><a class="col-ratio4" href="#">c / million</a></th>
                            <th scope="col"><a class="col-temperature" href="#">avg ºC</a></th>
                            <th scope="col"><a class="col-ratio3" href="#">d / ºC</a></th>
                            <th scope="col"><a class="col-avg-age" href="#">avg age</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this}}
                            <tr>                                
                                <th scope="row">
                                    {{#if flag}}<img class="flag" src="{{flag}}" />{{/if}}
                                    {{name}}
                                </th>   
                                <td class="text-right">{{thousands  population}}</td>
                                <td class="text-right">{{thousands  cases}}</td>
                                <td class="text-right">{{thousands  deaths}}</td>
                                <td class="text-right">{{death_ratio_per_infected}} %</td>
                                <td class="text-right">{{death_ratio_per_population}}</td>
                                <td class="text-right">{{case_ratio_per_population}}</td>
                                <td class="text-right">{{temperature}}</td>
                                <td class="text-right">{{death_ratio_per_temperature}}</td>
                                <td class="text-right">{{avg_age}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>